@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn .5s ease-in 1 forwards;
}

.is-paused {
	animation-play-state: paused;
}

.fade-out {
	opacity: 1;
	animation: fadeOut .5s ease-in 1 forwards;
}

body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	background-color: #88EDA1;
	height: 350px;
	width: 200px;
}
#status {
	position: relative;
	text-align: center;
	top: 0;
	background-color: white;
	width: 100%;
	height: 20px;
}

#cat {
	position: relative;
	width: 70%;
	left: 15%;
	height: auto;
	top: 30px;
}

#timer {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 210px;
	font-size: 40px;
}

.button-container {
	position: relative;
	top: 40px;
	width: 200px;
	margin: 0;
	text-align: center;
}

.button {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 45px;
	font-size: 35px;
	margin: 0;
	text-align: center;
	cursor: pointer;
	bottom: 0;
	padding-top: 5px;
	color: white;
}

#start {
	background: #8BD746;
	display: none;
}

#stop {
	background: #D72D27;
	display: none;
}

#reset {
	background: #EDA21C;
	display: none;
}