body {
	margin: 0;
	padding: 0;
	background-color: #88EDA1;
}

#status {
	position: absolute;
	text-align: center;
	width: 200px;
	height: 20px;
	top: 0;
	background-color: white;
}

#cat {
	position: relative;
	width: 70%;
	left: 15%;
	height: auto;
	top: 30px;
}

#timer {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 187px;
	font-size: 40px;
}

.button-container {
	position: relative;
	top: 40px;
	width: 200px;
	margin: 0;
	text-align: center;
}

.button {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 45px;
	font-size: 35px;
	margin: 0;
	text-align: center;
	cursor: pointer;
	bottom: 0;
	padding-top: 5px;
	color: white;
}

#start {
	background: #8BD746;
}

#stop {
	background: #D72D27;
}

#reset {
	background: #EDA21C;
}